
* {
  font: inherit;
}

body {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  background-color:  #5f5d4f ;
}


.timer {
  position: relative;
  display: inline-block;
  left: 33%;
  background-color: #868884;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 20px;
}



.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.dial {
  height: 400px;
  width: 400px;
}




.timer input {
  display: block;
  border: none;
  width: 240px;
  font-size: 90px;
  text-align: center;
  background-color:  #868884; 
}

.timer button {
  border: none;
  font-size: 36px;
  cursor: pointer;
}

.timer button:focus {
  outline: none;
}

.timer input:focus {
  outline: none;
}
