body {
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

img {
	width: 100px;
	position: absolute;
	top: 100px;
	left: 100px;
}

#coin {
	width: 300px;
}

h2 {
	display: inline;
	position: fixed;
}

#label {
	left: 45%;
}

#score {
	left: 51%;
}